*{
    margin: 0;
    padding: 0;
}
.flower-shop-container{
    max-width: 1920px;
   max-height: 300px;
    display: flex;
    background: rgba(229, 84, 115, 0.1);
}
.flower-shop-context{
    width: 708px;
    height: 100%;
    margin: 50px 0 0 97px;
    width: 100%;
    
}
.flower-shop-context h1{
color: rgb(39, 39, 39);
font-family: Lato;
font-size:30px ;
text-align: left;
margin: 21px;
}
.flower-shop-context button{
    border-radius: 8px;
   background: rgb(229, 84, 115);
    color: rgb(255, 255, 255);
    padding: 20px 43px 20px 43px;
    border: none;
    margin: 21px;

}
.Our-Featured-Flower{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 400px 10px 400px;
}
.flower-shop-context p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 10px;
        font-family: Lato;
        text-align: left;
        padding: 21px;
}
.flower-shop-img{
    width: 635px;
     margin: 50px 240px 0 97px;
     
    }
    .flower-shop-img img{
        height: 100%;
    }
.Pink-Flower-Tree{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.Pink-Flower-Tree-arg-tag{
    display: flex;
    flex-direction: column;
}
.Pink-Flower-Tree-arg-tag img{
    height: 50%;
    padding: 10px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin:15px 30px 15px 30px ;
    padding: 0;
}
.Pink-Flower-Tree-arg-tag a{
    text-align: center;
}
.day-delivary-container{
    display: flex;
    justify-content: space-around;
    background-color: rgba(39, 39, 39, 0.05);
    margin: 0 30px;
    padding: 100px  30px ;
}
.simple-color{
    color:rgb(229, 84, 115)   
}
#sale-offer{
    margin: 20px 0;
}
.flower-layput-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin: 5px 30px;
}
.flower-layput-container img{
    width: 100%;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn input{
    background-color: white;
    padding: 10px 30px;
    border: none;
    margin: 10px 0;
}
.btn button{
    background-color:rgb(229, 84, 115);
    color: white;
    padding: 10px 15px;
    border: none;
    margin: 10px 0;
}
.Our-Featured-Flower-shopping{
    margin: 10px 50px ;
    padding: 30px 30px;
    background-image: url(../Rectangle\ 9.png);
    background-repeat:no-repeat;
}
.Our-Featured-Flower-shopping-text{
    text-align: center;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 100px 30px;
}
.footer-flower{
   color: rgb(229, 84, 115); 
   font-size: 30px;
}
.footer-shop{
    color: white;
    font-size: 30px;
    margin: 10px 0;
}
.footer-shop1{
    color: white;
    margin-bottom: 10px;
}
.footer-shop2{
    color: wheat;
    margin-bottom: 10px;
}
